<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="Todo">
        <div class="col-sm-12 col-md-6 col-lg-6" id="Texto">
            <h3>Portafolio Argentina Programa</h3>
            <p>En este proyecto tuve que realizar un portafolio web con mi trayectoria. Esta actividad me permitió conocer nuevos recursos para la programación que van del front end al back end. </p>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1">
            <img src="../../../assets/ProyectoArgPro.png" class="img-fluid">
        </div>
    </div>

    <div class="Todo">
        <div class="col-sm-12 col-md-6 col-lg-6" id="Texto">
            <h3>Página Agrozavattero S.A</h3>
            <p>En este proyecto tuve que realizar un portafolio web con mi trayectoria. Esta actividad me permitió conocer nuevos recursos para la programación que van del front end al back end. </p>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1">
            <img src="../../../assets/ProyectoAgroZav.png" class="img-fluid">
        </div>
    </div>
</div>
