<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil.jpg" class="img-fluid" id="perfil">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" id="texto">
        <div>
            <h1 id="nombre">Bautista Rubio</h1>
            <h2>Full Stack Developer Jr</h2>
         </div>

         <div>
           <span>
            <h1>Acerca de mi</h1>
            <p id="sobremi">
                Soy un estudiante de contabilidad de la ciudad de Santa Rosa, provincia de La Pampa. 
                También me interesa la programación y el mundo del desarrollo web. Soy una persona proactiva que me gusta estar
                constantemente aprendiendo cosas nuevas y viendo como mejorar.
            </p>
          </span>
         </div>
    </div>


