<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Agrozavattero S.A</h3> <h4>Febrero de 2021 - Enero de 2022</h4>
                <p>En este trabajo tuve como tareas las siguientes:carga de datos en sistema contable, 
                    armado y control de libros de IVA, mapeo de trabajos, carga de trabajos de siembra 
                    y fertilización, trámites en general, y conciliaciones bancarias.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Agropecuaria La Criolla S.A</h3> <h4>Noviembre de 2018 - Marzo de 2020</h4>
                <p>En este trabajo tuve como tareas las siguientes:carga de datos en sistema contable, 
                    gestión del ingreso y egreso de ganado vía Excel, archivo de todo tipo de comprobantes,
                    trámites en general, envíos de mails con ordenes de pago y retenciones, armado y control 
                    de libros de IVA.</p>
            </li>
        </ul>
    </div>
</div>