<div class="row">
    <h2>Educación</h2>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Universidad Nacional de La Pampa</h3> <h4>2022 - Actualidad</h4>
                <p>Estudio en curso: Contador Público Nacional.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Instituto América</h3> <h4>2015 - 2020</h4>
                <p>Título: Bachiller en Economía y Administración.</p>
                <p>Egresado con reconocimientos académicos.</p>
            </li>
        </ul>
    </div>
</div>
