<div class="row">
     <div class="container">
        <div class="logo">
            <img src="../../../assets/LogoArgProg.png" Id="LogoCurso">
        </div>
        <div class="redes">
            <a href="https://github.com/BautistaRubio"><img src="../../../assets/Github.png" alt="Github"></a>
            <a href="https://www.instagram.com/bautiirubio/"><img src="../../../assets/Instagram.png" id="Instagram"></a>
            <a href="https://www.linkedin.com/in/bautista-rubio-417946172/"><img src="../../../assets/Linkedin.png" id="Linkedin"></a>
            <a href="https://twitter.com/bautiirubio1"><img src="../../../assets/Twitter.png" id="Twitter"></a>
            <button type="button" class="btn btn-outline-light">LOGIN</button>
        </div>
     </div>
</div>

