<div class="row">
    <h2>Hard & Soft Skills</h2>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [outerStrokeWidth]="10"
            [title]="'Blandas'"
            [showUnits]="false"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#191919'"
            [innerStrokeColor]="'#191919'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#191919'"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [outerStrokeWidth]="10"
            [title]="'Blandas'"
            [showUnits]="false"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#0099E0'"
            [innerStrokeColor]="'#65CEFF'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#65CEFF'"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [outerStrokeWidth]="10"
            [title]="'Blandas'"
            [showUnits]="false"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#0099E0'"
            [innerStrokeColor]="'#65CEFF'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#65CEFF'"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [outerStrokeWidth]="10"
            [title]="'Blandas'"
            [showUnits]="false"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#0099E0'"
            [innerStrokeColor]="'#65CEFF'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#65CEFF'"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [outerStrokeWidth]="10"
            [title]="'Blandas'"
            [showUnits]="false"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#0099E0'"
            [innerStrokeColor]="'#65CEFF'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#65CEFF'"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [outerStrokeWidth]="10"
            [title]="'Blandas'"
            [showUnits]="false"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#0099E0'"
            [innerStrokeColor]="'#65CEFF'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#65CEFF'"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
</div>
